.popupBox
{
    background-color: lightseagreen;

    position: absolute;
    /*z-index: 5;*/
    padding: 3rem;
    min-width: 30rem;
    min-height: 30rem;
    width: 50vw;
    /*width: 700px;*/
    height: inherit;
    display: block;

    border-radius: 10px;
    margin-top:250px;

}
.background
{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("/img/bg3.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

}
.btn {
    background: darkgreen;
    color: black;
    padding: 0.375em 3.5em;
    display: inline-block;
    transition: none;
    font-size: 1.0rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2.7rem;
    font-style: italic;
    /*border: 2px solid black;*/
}

h1,
h2,
h3,
h4,
button{
    font-family: "Comic Neue", sans-serif;
}

.description{
    margin-top: 30px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    align-items: flex-start;
    text-align: left

}

.btn:hover {
    transform: scale(1.1);
}

.small-btn {
    font-size: 1.5rem;
    padding:  0.2em 1em;
    color: white;
    display: flex;
    align-items: center;
}

.small-btn img{
    display: inline-block;
    margin-right: .5em;
}
#instruction, #title, #instructions, #title {
    width: 100%;
    min-height: 30px;
    border-radius: 15px;
    border: none;
    padding: 1em;
}
#title, #main{
    margin-bottom: 20px;
    height: 3.2em;
}

#instruction, #instructions {
    height: 20rem;
    margin-bottom: -3%;
}

#imageUploadCont{
    display: flex;
    flex-direction: row;
}

#display_image{
    width: 74px;
    height: 42px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
    background-color: white;
}

#buttonSave, #buttonCancel {
    text-align: center;
}

#saveButton{
    background-color: darkgreen;
    margin-right: 20px;

}

#cancelButton {
    background-color: goldenrod;
}

.twobutton{

    padding: 50px;
    display: flex;
    width: 20rem;
    margin: auto;
}

#addactivity{
    margin-left: 5px;
    margin-bottom: -50px;
    font-size: 25px;
}

#descriptionh3{
    margin-top: 2%;
}

#instructorDiv{
    margin-top: 3rem;
}