body{
    font-family:futura-lt-w01-book,sans-serif;
    margin: 0px 4px 0px 0px;
    letter-spacing: 0.1em;
    text-align: center;
    color: rgb(188,155,93);
}

.logo{
    width: 100px;
    border-radius: 50px;
    margin: auto;
}

.title{
    font-size: 50px;
    font-style: italic;
}

.button{
    font-size: 20px;
    background-color: rgb(5,77,48);
    border-color: rgb(5,77,48);
    color: white;
}
.button:hover{
    background-color: white;
    color: rgb(5,77,48);
}

.popup{
    color: rgb(5,77,48);
    visibility: hidden;
    transform: translate(0%,0%) scale(0.00000001);
    transition: transform 0.4s, top 0.4s;
    background-color: rgb(244,234,177);;
    width: 30%;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10%;
}

.wrongCredentials{
    font-size: 15px;
    color: red;
}